<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.garyhu.citypickerdemo">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name=".app.MyApp"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.MainActivity"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.SecondActivity"
            android:launchMode="singleTop"/>
        <activity android:name=".activity.ThirdActivity"
            android:launchMode="singleTop"/>
        <activity android:name=".activity.PickCityActivity"
            android:launchMode="singleTop"/>
        <activity android:name=".activity.PickContactActivity"
            android:launchMode="singleTop"/>
        <activity android:name=".activity.HomeActivity"
            android:launchMode="singleTop"/>
        <activity android:name=".activity.RefreshActivity"
            android:launchMode="singleTop"/>
        <activity android:name=".activity.CollpasedActivity"
            android:launchMode="singleTop"/>
        <activity android:name=".activity.GalleryActivity"
            android:launchMode="singleTop"/>
        <activity android:name=".activity.FaceBookAnimActivity"
            android:launchMode="singleTop"/>
        <activity android:name=".activity.FlycoActivity"
            android:launchMode="singleTop"/>
        <activity android:name=".activity.StatusActivity"
            android:launchMode="singleTop"/>
    </application>

</manifest>